.carousel-item {
    max-height: 600px;
    height: 600px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: absolute;
    transform: translateY(50%);
    color: white;
    bottom: 260px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    line-height: 1.9;
    color: #FFFFFF;
}
