@font-face {
    font-family: 'mercedes-serialbold';
    src: url('../src/GothamRounded.ttf') format('truetype');
}

.button_1 {
    background-color: #1ABC9C;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: mercedes-serialbold, sans-serif;
    border-radius: 6px;
    transition-duration: 0.4s;
    margin: 10px;
}

.button_1:hover {
    background-color: #16A085; /* Green */
    color: white;
}

.btn-bordered {
    color: #ffffff;
    background: transparent;
    border: 2px solid #455A64;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 1s;
}

.btn-bordered:hover {
    border: 2px dotted #455A64;
    color: white;
    background: transparent;
}

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
}

.head {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    max-height: 300px;
    padding: 30px;
}

header a {
    background-color: #1ABC9C;
    /*border: 1px solid #92989e;*/
    color: #eeeeee !important;
    font-family: mercedes-serialbold, sans-serif;
    margin-top: 10px;
    border-radius: 6px;
}
header .col{
    margin: 5px;
}

.logo {
    width: 30%;
    padding: 20px;
}

.warning {
    border: 1px solid #92989e;
    width: 100%;
    height: 100%;
    column-count: 2;
    margin: 5px;
}

.warning img{
    width: 75%;
    height: 75%;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.text-w {
    margin-top: 2px;
}

.box {
    width: 150px;
    height: 75px;
    background-color: black;
    color: #fff;
    padding: 20px;
    position: relative;
    margin: 40px;
    float: left;
}

.box.arrow-top {
    margin-top: 40px;
}

.box.arrow-top:after {
    content: " ";
    position: absolute;
    right: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid black;
}

.box.arrow-right:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid black;
    border-bottom: 15px solid transparent;
}

.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 30px;
    bottom: -15px;
    border-top: 15px solid black;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
}

.box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid black;
    border-left: none;
    border-bottom: 15px solid transparent;
}