@font-face {
    font-family: 'mercedes-serialbold';
    src: url('../src/GothamRounded.ttf') format('truetype');
}

.button_1 {
    background-color: #1ABC9C;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: mercedes-serialbold, sans-serif;
    border-radius: 6px;
    transition-duration: 0.4s;
    margin: 10px;
}

.button_1:hover {
    background-color: #16A085; /* Green */
    color: white;
}

.btn-bordered {
    color: #ffffff;
    background: transparent;
    border: 2px solid #455A64;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 1s;
}

.btn-bordered:hover {
    border: 2px dotted #455A64;
    color: white;
    background: transparent;
}

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
}

.head {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    max-height: 300px;
    padding: 30px;
}

header a {
    background-color: #1ABC9C;
    /*border: 1px solid #92989e;*/
    color: #eeeeee !important;
    font-family: mercedes-serialbold, sans-serif;
    margin-top: 10px;
    border-radius: 6px;
}

header .col {
    margin: 5px;
}

.logo {
    width: 30%;
    padding: 20px;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
}

.message {
    border: 1px solid #92989e;
    width: 99%;
    height: 99%;
    column-count: 2;
    margin: 3px;
}

.message img {
    width: 75%;
    height: 75%;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.internal {
    padding-top: 10px;
    padding-bottom: 10px;
}

.side {
    border: 1px solid #eeeeee;
    background-color: #DCEDC8;
}

.right .row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.add-btn {
    color: white !important;
    border-radius: 5px;
    background-color: #1ABC9C;
    width: 25%;
    height: 25%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.add-btn:hover{
    background-color: #16A085; /* Green */
    color: white;
}