@font-face {
    font-family: 'mercedes-serialbold';
    src: url('../src/GothamRounded.ttf') format('truetype');
}

.button_1 {
    background-color: #1ABC9C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin: 10px;
}

.button_1:hover {
    background-color: #16A085; /* Green */
    color: white;
}

.btn-bordered {
    color: #ffffff;
    background: transparent;
    border: 2px solid #455A64;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 1s;
}

.btn-bordered:hover {
    border: 2px dotted #455A64;
    color: white;
    background: transparent;
}

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
}

.footer-header {
    background-color: #3a464b;
    font-family: mercedes-serialbold, sans-serif;
    font-weight: 300;
    color: white !important;
    padding: 20px;
    font-size: 1.1575rem;

}

.footerFacebook, .footerGooglePlus, .footerTwitter {
    float: left;
    overflow: hidden;
    /*background: url(../img/sprite.png) no-repeat;*/
    width: 80px;
    height: 80px;
}

.footer-wrapper {
    background-color: #eaedf1;

}


/*<a href="https://www.freepik.es/fotos-vectores-gratis/negocios">Vector de Negocios creado por freepik - www.freepik.es</a>*/
/*<a href="https://www.freepik.es/fotos-vectores-gratis/fondo">Vector de Fondo creado por freepik - www.freepik.es</a>*/
/*<a href="https://www.freepik.es/fotos-vectores-gratis/fondo">Vector de Fondo creado por freepik - www.freepik.es</a>*/
/*<a href="https://www.freepik.es/fotos-vectores-gratis/fondo">Vector de Fondo creado por starline - www.freepik.es</a>*/
/*#003245*/


/*Foto de Suzy Hazelwood en Pexels*/
