/*Arrow box*/
.box {
    width: 150px;
    height: 75px;
    border: 1px solid #494949;
    border-radius: 5px;
    color: #494949;
    padding: 20px;
    position: relative;
    margin: 20px;
    float: left;
}

.box.arrow-top {
    margin-top: 40px;
}

.box.arrow-top:after {
    content: " ";
    position: absolute;
    right: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #494949;
}

.box.arrow-right:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid #494949;
    border-bottom: 15px solid transparent;
}

.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 30px;
    bottom: -15px;
    border-top: 15px solid #494949;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
}

.box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid #494949;
    border-left: none;
    border-bottom: 15px solid transparent;
}